button {
    padding: 20px;
    /* width: 80px;
    height: 100%; */
}


button:disabled {
    background: #eaeaea;
    color: #ccc;
    cursor: not-allowed;
    
}
button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(102, 41, 110);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: background-color 0.5s;
  }
  

  button:active {
    background-color: #d4cfe6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }