body {
    font-size: 1.7rem;
    font-weight: 800;
    color: rgb(167, 48, 48);
    /* font-style: italic; */
}
#note{
    position: relative;
    top: 35px;
}
.DrumMachine {
    max-width: 45vw;
    min-height: 85vh;
    /* min-height: 60vh; */
    margin: auto;
    border-radius: 20px;
    background: url('../../assets/images/music_record_player_bgd.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 10px;
}

.keysContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 40%;
    grid-gap: 7px;
    margin: auto;
    margin-top: 7px;
}

.Toolbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0 0 20px;
}

.Power {
    display: inline-block;
    position: absolute;
    top: 0;
    right: calc(75vw/20);
    /* border: 1px solid red; */
    /* padding: 20px; */
}

.KitStore {
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
    justify-items: center;
    padding-top: 15px;
}

.infoDisplay {
    margin-left: 10px;
    background: rgb(29, 22, 22);
    color: rgb(243, 214, 234);
    padding: 12px;
    text-align: center;
    border-radius: 34px;
    /* height: 20px; */
    height: 30px;
    width: 100%;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: rgb(76, 16, 116);
}

a:hover {
    opacity: 0.8;
}

footer{
    /* margin-top: 60px; */
    position: absolute;
    bottom: 0;
    right:33%;
    text-align: center;
}

@media(max-width: 768px) {
    body {
        font-size: 1rem;
        padding: 0;
    }
    .DrumMachine {
        min-width: 90vw;
        margin: 0 auto;
        height: auto;
    }
    .keysContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 30%;
        justify-content: center;
    }

    .infoDisplay{
        font-size: 1.3rem;
    }
}