
.DrumMachine{
    width: 45vw;
    min-height: 60vh;
    margin: 10vh auto;
    border: 1px red solid;
    border-radius: 20px;
    background: gold;
    opacity: 0.9;
    
 }
 
	

.keysContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40%;
    border: 1px solid blue;
    grid-gap: 10px;
   margin: 100px;
    /* margin-top: 40px; */
}

