
body {
  margin: 0;
  padding: 0;
  font-family: 'Markazi Text', serif;
  background: url('http://www.kubipet.com/data/out/117/iwp780356386-musical-wallpapers.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
